body{
    font-family: 'Arial Narrow', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

@media (max-width: 600px) { /* Mobile */
    body{
        font-size: 8px;
        margin: 0;
    }
}

@media (min-width: 2400px) { /* Big Screens */
    body{
        font-size: 26px;
    }
}

*::selection {
  background: #000000;
  color: #ffffff;
}

header{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    padding: 10px 0px;
    font-size: 1.3em;
    z-index: 2;
}

@media (max-width: 600px) { /* Mobile */
    header{
        margin: 0 5px;
        font-size: 2em;
    }
}

.menuItem{
    margin-right: 20px;
}

a{
    color: black;
}

a:hover{
    color: #404040;
}

h1, h2{
    text-align: center;
}

h1{
   font-family: 'Helvetica Neue', sans-serif;
   font-weight: 400;
   font-size: 3.5em;
   background-color: white;
   margin: 0;
   padding-top: 40px;
}

.titolo{
   position: fixed;
   top: 40px;
   width: 100vw;
   padding-top: 20px;
   padding-bottom: 20px;
}

@media (max-width: 600px) { /* Mobile */
    h1{
        font-size: 3.5em;
    }

    .titolo{
        top: 2vh;
    }
}

h2{
    margin: 20px 0px 0px 0px;
    font-size: 2.5em;
    font-weight: 400; 
}

h3{
   font-family: 'Helvetica Neue', sans-serif;
   font-weight: bold;
   font-size: 1em;
   margin: 0;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    columns: 2;
    column-gap: 5vw;
    margin-top: 10vh;
}

article{
    width: 40%;
}

@media (max-width: 600px) { /* Mobile */
    section{
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5vh;
        font-size: 12px;
    }

    article{
        width: 100%;
    }
}

article p{
    font-size: 1.5em;
    margin-top:0;
    margin-bottom: 5vh;
}

.intro{
    display: block;
    margin-top: 20vh;
}

.questions{
    display: inline-block;
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
}

@media (max-width: 600px) { /* Mobile */
    .questions{
        margin: 0 5px;
    }
}

.questions p{
   margin: 5px 0px 0px 0px;
}

#quest1{
    color: #ff0000;
}

#quest2{
    color: #01504a;
}

#quest3{
    color: #ff00dd;
}

#quest4{
    color: #026002;
}

#quest5{
    color: #000dff;
}

#quest6{
    color: #685b15;
}

.chat{
    display: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    margin-bottom: 15vh;
}

@media (max-width: 600px) { /* Mobile */
    .chat{
        width: 90%;
    }
}

.chatInput{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 80%;
    box-sizing: border-box;
    border: solid 1px black;
    background-color: white;
    border-radius: 30px;
    position: fixed;
    bottom: 20px;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 0);
}

@media (max-width: 600px) { /* Mobile */
    .chatInput{
        width: 90%;
    }
}

input{
    font-family: 'Arial Narrow', sans-serif;
}

#questionInput{
    width: 95%;
    border: none;
    padding: 10px;
    padding-left: 3vw;
    font-size: 2em;
    background-color: transparent;
}

::placeholder {
    color: #404040;
}

#questionInput:focus{
    outline: none;
}

#askButton{
    width: 5%;
    border: none;
    background-color: black;
    border-radius: 30px;
    color: white;
    font-size: 2em;
    padding-bottom: 7px;
    cursor: pointer;
}

@media (max-width: 1400px) { /* Tablet */
    #askButton{
        width: 8%;
        padding: 0;
    }
}

@media (max-width: 600px) { /* Mobile */
    #askButton{
        width: 15%;
        font-size: 2.3em;
        padding: 0;
    }
}


#askButton:hover{
    background-color: #404040;
}

.chatMessages{
    margin-top: 80px;
}

@media (max-width: 600px) { /* Mobile */
    .chatMessages{
        margin-top: 40px;
    }
}

.chatTitle{
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
}

.label{
    font-weight: lighter;
    border: solid .5px black;
    width: max-content;
    padding: 2px 10px;
    background-color: #000;
    color: white;
    border-radius: 20px;
    font-size: 1.1em;
    margin: 0px 0px 0px 0px;
}

.input{
    font-size: 1.8em;
    margin: 0px 0px 0px 0px;
}

.botMsg{
    margin: 20px 0px 0px 50px;
}

@media (max-width: 600px) { /* Mobile */
    .botMsg{
        margin: 20px 0px 0px 20px;
    }
}

.botMsg .input{
    font-size: 2.2em;
    word-wrap: break-word;
    line-height: 105%;
}

.outputMini {
    font-size: .6em;
    line-height: 1.4;
    display: block;
    word-break: break-all;
    overflow-wrap: break-word;
}

.botMsg .input strong {
    display: block;
    font-size: .8em;
    margin: 20px 0 0 0;
}